body{
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.header {
  position:fixed;
  width:100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #091D34;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #F7F2D4;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: dodgerblue;
  color: white;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  padding-right:20px;
}

#welcome-section{
  margin-top: 89px;
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100vh;
  //width: 100vw;
  background: #236AB9;
  width: 100%;
}
#welcome-section h1{
  font-size: 55px;
  color: oldlace;
}

#welcome-section p{
  font-size: 20px;
  font-weight: bold;
  color: #ffefd5;
}

#projects {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #F7F2D4;
  //margin-left: 1rem;
  //margin-right: 1rem;
}

#projects-title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#projects-title h1{
  text-align: center;
  margin:0;
  font-size: 55px;
  color: #D61A46;
}

#projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
  grid-auto-rows: minmax(200px, auto);
  //grid-gap: 1rem;
}

.projects-card {
  height: 300px;
  border: 8px solid #F7F2D4;
  padding: .5rem;
  background: #091D34;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  //position: relative;
  color: #F7F2D4;
  
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  font-size: 25px;
  text-decoration: none;
}

.projects-card:hover{
  font-size: 23px;
  color: #F7F2D4;
  background: #D61A46;
}


#contacts-section{
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 50vh;
  width: 100vw;
  background-color: #236AB9;
  //width: 100%;
}

#contacts-section h1{
  font-size: 55px;
  color: ivory;
}

#contacts-section a{
  font-size: 15px;
  color: ivory;
  text-decoration: none;
}
#contacts-section a:hover{
  font-size: 20px;
  color: #091D34;
}
footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-top: 4px solid #181733;
  background: #091D34;
  width:100vw;
  color:#FDDC22;
  font-size: 22px;
  font-weight: bold;
}
 
@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  .projects-column {
    width: 100%;
  }
  
  #projects {
  //text-align: center;
  height: 100%;
  //background: slategray;
}
}



